<div class="main-container">
   <h2>Our Story</h2>
   <p>Sofianka is undeniably and unapologetically sexy and beautiful. Our woman wears minimalistic and elegant clean lines captured in highly structural and technical designs inspired by the energy of the busy working woman.  </p>
   <p>Sofianka belongs to two sisters - Irena and Tanya. Irena is the graphics and photo expert, while Tanya is a cloud architect and  fashion designer. Together they present to you a young and hip brand,  coming from downtown Sofia.</p>
   <p>Tanya and Irena are determined to develop high quality women apparel, taking advantage of the developing coat/apparel industry in Bulgaria. </p>
   <p>Sofianka strives to promote Bulgarian Fashion Industry through out the world.</p>
</div>
