<div class='home-detail-container'>
  <div class='slideshow'>
    <div class='slide'>
      <div class='container-fluid'>
        <div class='row'>
          <h1>{{title}}</h1>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            {{content}}
          </div>
        </div>
      </div>
    </div>
    <div class='slide'>
      <div class='container-fluid'>
        <div class='row'>
          <h1>{{title}}</h1>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            {{content}}
          </div>
        </div>
      </div>
    </div>
    <div class='slide' style=''>
      <div class='container-fluid'>
        <div class='row'>
          <h1>{{title}}</h1>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            {{content}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
